@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.App {
  padding-top: 30px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient(270deg, #eb6949, #e7904d, #648fe0, #5acfc7, #cf5aac, #d3d344);
  background-size: 800% 800%;
  animation: gradientBackground 15s ease infinite;
}

.textw {
  font-size: 50px;
  color: black;
  font-weight: 700;
  font-family: serif;
}

.emoji-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.emoji-item {
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

.emoji-iten {
  font-size: 60px;

}

.emoji-item:hover,
.emoji-item:focus {
  transform: scale(1.2);
}

.zero {
  font-family: serif;
  font-size: 35px;
  color: rgb(0, 0, 0);
}

.block-btn {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

.buttonone {
  margin: 10px;
  padding: 10px 20px;
  font-size: 21px;
  width: 230px;
  height: 60px;
  background-color: blueviolet;
  color: aliceblue;
  font-family: serif;
  border: 1px solid #828182;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.buttonone:hover,
.buttonone:focus {
  background-color: darkviolet;
  transform: scale(1.05);
}

.buttontho {
  margin: 10px;
  padding: 10px 20px;
  font-size: 21px;
  width: 230px;
  height: 60px;
  background-color: rgb(228, 33, 33);
  color: aliceblue;
  font-family: serif;
  border: 1px solid #7d7c7c;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}


.buttontho:hover,
.buttontho:focus {
  background-color: darkred;
  transform: scale(1.05);
}

.results {
  font-size: 15px;
  color: #181917;
  font-family: serif;
}